@import url('/stylesheets/basics.css');
body {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; }

#header {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  background-color: #0f2f5d;
  min-width: 1004px;
  padding: 10px;
  color: #ffffff; }
  #header a {
    color: #ffffff;
    text-decoration: none;
    outline: 0; }
  #header h1, #header h2 {
    margin-top: 0;
    display: inline; }
  #header h2 {
    font-weight: normal; }
  #header #tabs {
    margin: 0;
    float: left; }
    #header #tabs li {
      margin: 0;
      list-style: none;
      display: inline;
      padding: 0 10px; }
  #header #user-bar {
    float: right; }
    #header #user-bar div {
      float: left; }

#content {
  padding-top: 2px;
  font-size: 80%;
  width: 1004px; }
  #content #flash {
    text-align: center;
    margin-top: 5px;
    padding-left: 200px; }
    #content #flash .notice {
      display: inline;
      padding: 2px 5px; }
