@import url('/stylesheets/basics.css');
body {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; }

#header {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  background-color: #0f2f5d;
  min-width: 1004px;
  padding: 10px 10px 5px 10px;
  color: #fff; }
  #header a {
    color: #fff;
    text-decoration: none;
    outline: 0; }
  #header h1 {
    float: left;
    margin: 0;
    margin-right: 2em;
    font-size: 100%; }
  #header #tabs {
    float: left;
    margin: 0; }
    #header #tabs li {
      margin: 0;
      list-style: none;
      display: inline;
      padding: 1px 5px 3px 5px; }
    #header #tabs li:hover {
      background-color: #184A91; }
    #header #tabs li.current, #header #tabs li.current:hover {
      background-color: #fff;
      color: #000; }
      #header #tabs li.current a,       #header #tabs li.current:hover a {
        color: #000; }
      #header #tabs li.current a:hover,       #header #tabs li.current:hover a:hover {
        text-decoration: underline; }
  #header #user-bar {
    font-size: 80%;
    float: right; }
    #header #user-bar div {
      float: left; }
    #header #user-bar a:hover {
      text-decoration: underline; }

#content {
  padding: 5px;
  font-size: 80%;
  width: 1004px; }
  #content #flash {
    text-align: center;
    margin-top: 5px;
    padding-left: 200px; }
    #content #flash .notice {
      display: inline;
      padding: 2px 5px;
      background-color: orange; }
