
=f.label :title
=f.text_field :title        #:text
%br
=f.label :description
=f.text_field :description  #:text
%br
=f.label :pi
=f.text_field :pi           #:text
%br
=f.label :role
=f.text_field :role         #:string(255)
%br
=f.label :effort
=f.text_field :effort       #:string(255)
%br
=f.label :direct_costs
=f.text_field :direct_costs #:string(255)
%br
=f.label :grant_type
=f.select :grant_type, Grant.types, :include_blank => true   #:string(255)
%br
=f.label :starts_on
=f.text_field :starts_on    #:date
%br
=f.label :ends_on
=f.text_field :ends_on      #:date
