
=f.label :person_id
=f.text_field :person_id         #:integer
%br
=f.label :title
=f.text_field :title             #:text
%br
=f.label :description
=f.text_field :description       #:text
%br
=f.label :meeting
=f.text_field :meeting           #:text
%br
=f.label :location
=f.text_field :location          #:text
%br
=f.label :presentation_type
=f.select :presentation_type, Presentation.types, :include_blank => true #:string(255)
%br
=f.label :presented_on
=f.text_field :presented_on      #:date
