
=f.label :person_id
=f.text_field :person_id                       #:integer
%br
=f.label :pubmed_identifier
=f.text_field :pubmed_identifier               #:string(255)
%br
=f.label :medline_identifier
=f.text_field :medline_identifier              #:string(255)
%br
=f.label :digital_object_identifier
=f.text_field :digital_object_identifier       #:text
%br
=f.label :controlled_publisher_identifier
=f.text_field :controlled_publisher_identifier #:text
%br
=f.label :authors
=f.text_field :authors                         #:text
%br
=f.label :title
=f.text_field :title                           #:text
%br
=f.label :journal
=f.text_field :journal                         #:string(255)
%br
=f.label :journal_abbreviation
=f.text_field :journal_abbreviation            #:string(255)
%br
=f.label :volume
=f.text_field :volume                          #:string(255)
%br
=f.label :issue
=f.text_field :issue                           #:string(255)
%br
=f.label :pages
=f.text_field :pages                           #:string(255)
%br
=f.label :abstract
=f.text_field :abstract                        #:text
%br
=f.label :mesh
=f.text_field :mesh                            #:text
%br
=f.label :affiliations
=f.text_field :affiliations                    #:text
%br
=f.label :source
=f.text_field :source                          #:text
%br
=f.label :publication_type
=f.text_field :publication_type                #:string(255)
%br
=f.label :year
=f.text_field :year                            #:string(255)
%br
=f.label :published_on
=f.text_field :published_on                    #:date
