
=f.label :title
=f.text_field :title        #:text
%br
=f.label :description
=f.text_field :description  #:text
%br
=f.label :organization
=f.text_field :organization #:text
%br
=f.label :service_type
=f.select :service_type, Service.types, :include_blank => true #:string(255)
%br
=f.label :starts_on
=f.text_field :starts_on    #:date
%br
=f.label :ends_on
=f.text_field :ends_on      #:date
